@media (max-width:550px) {
    body{
        background: none;
    }
    #containt {
        height: 100%;
        width: 100%;
        /* margin: 8rem auto; */
    
    }
    .heading {
        gap: 2rem;
        color: #000;
    }
    .heading h1 {
        width: 100%;
        font-size: 3rem;
    }  
    .heading p {
        font-size: 1rem;
        line-height: 2rem;
        width: 100%;
    }  
    .heading p span {
        transition: all 0.4s ease-in-out;
        border-bottom: 1PX dotted #000;
    }
    .heading img {
        height:3rem;
        width: 3rem;
        margin-bottom: 5rem;
    }

    .nav {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .nav .item {
        display: flex;
        text-align: center;
    }
    .item a {
        color:#000;
        padding: 1rem;
        font-size: 0.8rem;
    }   
    .nav .item a:hover {
        background-color: #e6e6e6;
        color: #000;
    }
    .social-icon i {
        font-size: 1.5rem;
        color: #000;
    }
   
    #page-containt {
        background-color: #e6e6e6;
    }

    .page1 {
        width: 100%;
        padding: 3rem 0;
        gap: 2rem;
    } 
    .page1 h1 {
        width: 90%;
        font-size: 2rem;
    } 
    .page1 p {
        width: 80%;
        font-size: 1.2rem;
        line-height: 1.7rem;    
    }
    .page1 .img {
        width: 90%;
        height: 40vh;
    }
    .btn {
        padding: 0.8rem 2rem;
    }

    .page2 {
        padding: 0 1rem;
    }
    .box {
        width: 100%;
        padding: 2rem 1rem;
        margin: 1rem 0;
        gap: 1.5rem;
    }   
    .box p {
        line-height: 1.5rem;
        width: 90%;
    }    
    .box h2 {
        width: 100%;
        font-size: 1.8rem;
    }
    .box-image {
        height: 30vh;
        width: 100%;
    }

    .page3 {
        padding: 2rem 1rem;
        background-color: #f5f5f5;
    }
    .page3 a {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .page4 {
        background-color: #676767;
    }
    .page4 .left {
        width: 100%;
        padding: 1.5rem ;
    }
    .left label {
        font-size: 0.8rem;
        color: #fff;
        letter-spacing: 1px;
    }
    .left input,
    .left textarea {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        width: 100%;
        border: 1px solid #e6e6e6   ;        
        margin: 0.3rem 0 1rem 0;
    }
    .left button {
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
        margin-top: 0.2rem; 
    }
    .page4 .right {
        width: 100%;
        background-color: #e4e4e4;
    }
    .right .add,
    .right .phone,
    .right .email,
    .right .social {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem 0 3rem 3rem;
    }
    .right h4 {
        font-size: 1rem;
        color: #000;
    }
    .right p {
        font-size: 0.8rem;
        line-height: 1rem;
    }
    .right .social .icon i {
        margin-right:  1rem;
        font-size: 1.2rem;
    }
    
}