@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/18490340/pexels-photo-18490340/free-photo-of-tourist-running-on-the-beach-washed-by-the-sea.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#containt {
    height: 100%;
    width: 80%;
    margin: 8rem auto;

}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    color: #fff;
}

.heading h1 {
    width: 40%;
    text-align: center;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    line-height: 2.5rem;
    width: 60%;
}

.heading p span {
    transition: all 0.4s ease-in-out;
    border-bottom: 1PX dotted #FFF;
}

.heading p span:hover {
    border-color: rgb(52, 171, 230);
    color: rgb(52, 171, 230);
}

.heading img {
    height: 4rem;
    width: 4rem;
}


.nav {
    background-color: #ffffff37;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    margin-top: 3rem;
}

.item a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
}

.nav .item a:hover {
    background-color: #fff;
    color: #000;
}

.social-icon {
    display: flex;
    gap: 1.5rem;
    margin-right: 3rem;
}

.social-icon i {
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.social-icon i:hover {
    color: rgb(52, 171, 230);
}

#page-containt {
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

.page1 {
    position: relative;
    width: 85%;
    margin: auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.page1 .date {
    display: flex;
    justify-content: center;
    width: 100%;
}

.date p {
    text-transform: capitalize;
    font-style: oblique;
}

.date div {
    border: 2px solid #a7a7a7;
    rotate: 90deg;
}

.page1 h1 {
    width: 60%;
    font-size: 3rem;
    text-align: center;
    color: #000000e1;
    letter-spacing: 0.1rem;
    transition: all 0.4s ease-in-out;
}

.page1 h1:hover {
    color: rgb(52, 171, 230);
}

.page1 p {
    width: 50%;
    text-align: center;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 2rem;
    text-transform: capitalize;
}

.page1 .img {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.page1 .img .image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url("https://images.pexels.com/photos/13940670/pexels-photo-13940670.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
    transition: all 0.8s ease-in-out;
}

.page1 .img:hover .image {
    background-position: center;
}

.btn {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid #000;
    padding: 1rem 3rem;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    color: rgb(52, 171, 230);
    border-color: rgb(52, 171, 230);
}

.page2 {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid gray;
    height: 100%;
    width: 50%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.box p {
    color: #3c3c3c;
    text-transform: capitalize;
    line-height: 2rem;
    text-align: center;
}

.box h2 {
    width: 70%;
    font-size: 2.3rem;
    text-align: center;
    transition: all 0.4s ease-in-out;
}
.box h2:hover {
    color: rgb(52, 171, 230);
}

.box-image {
    height: 38vh;
    width: 100%;
}

.box-image .image1{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/3991204/pexels-photo-3991204.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-image .image2{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/7870261/pexels-photo-7870261.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-image .image3{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/4036558/pexels-photo-4036558.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-image .image4{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/320555/pexels-photo-320555.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-image .image5{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/17653368/pexels-photo-17653368/free-photo-of-a-woman-holding-a-camera.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box-image .image6{
    height: 100%;
    width: 100%;
    background: url("https://images.pexels.com/photos/18547755/pexels-photo-18547755/free-photo-of-uaz-patriot-on-grassland-under-fog.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-image {
    overflow: hidden;
}
.zoom-img {
    transition: all 0.5s ease-in-out;
    
}
.box-image:hover .zoom-img {
    transform: scale(1.2);
}

.page3 {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3 a {
    text-decoration: none;
    color: #a7a7a7;
    border: 1px solid #a7a7a7;
    background-color: #ebebeb;
    padding: 1rem 1.2rem;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
}
.page3 a:nth-last-child(1){
    color: #3c3c3c;
}
.page3 a:hover{
    background-color: #fff;
    color: rgb(52, 171, 230);
}

.page4 {
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
}

.page4 .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem ;
}
.left label {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #676767;
    letter-spacing: 1px;
}
.left input,
.left textarea {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    margin: 0.5rem 0 2rem 0;
}
.left button {
    color: #676767;
    border: 2px solid #676767;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    transition: all 0.4s ease-in-out;  
}
.left button:hover{
    color: rgb(52, 171, 230);
    border-color: rgb(52, 171, 230);
}
.page4 .right {
    width: 50%;
    border-left: 1px solid #676767;
}
.right .add,
.right .phone,
.right .email,
.right .social {
    display: flex;
    gap: 1.5rem;
    padding: 5rem 0 5rem 3rem;
}
.right h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: #676767;
    letter-spacing: 1px;
}
.right p {
    text-transform: capitalize;
    font-size: 1rem;
    color: #8d8d8d;
    line-height: 1.3rem;
}
.border {
    border: 1px solid #676767;
}
.right .social .icon i {
    margin-right: 1rem;
    font-size: 1.2rem;
    transition: all 0.4s ease-in-out;
}
.right .social .icon i:hover{
    color: rgb(52, 171, 230);
}

@media (max-width:550px) {
    body{
        background: none;
    }
}